
# /
**/*~
**/derby.log
/ant.properties
/clipboard.*
**/target
**/.settings
**/.classpath
**/.project
**/.surefire-*
/profiles.xml
/target.properties
/transaction.log

# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
